<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<title>Document</title>
</head>
<body>
	<!--  
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Customer-Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>-->

	<nav class="navbar navbar-expand-lg navbar-light  "
		style="position: fixed; top: 0; width: 100%; z-index: 1; background-color: white;">
		<img th:src="@{/images/logo.png}" alt="logo Image"
			style="width: 10%; height: 40px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto" style="font-size: 18px;">
				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="#"
					th:href="@{/customer/{id}/home  (id=${custId})}"
					style="color: black; hover: gray;"
					onmouseover="this.style.color='gray';"
					onmouseout="this.style.color='black';"> <i class="fas fa-home"></i>Home
				</a></li>
				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="#"
					th:href="@{/customer/{id}/myOrders  (id=${custId})}"
					style="color: black; hover: gray;"
					onmouseover="this.style.color='gray';"
					onmouseout="this.style.color='black';"> <i
						class="fas fa-file-alt"></i>My Orders
				</a></li>
				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="#"
					th:href="@{/customer/{id}/myOrderHistory  (id=${custId})}"
					style="color: black; hover: gray;"
					onmouseover="this.style.color='gray';"
					onmouseout="this.style.color='black';"> <i
						class="fas fa-history"></i>Order History
				</a></li>
				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="#"
					th:href="@{/customer/{id}/cart(id = ${custId})}"
					style="color: black; hover: gray;"
					onmouseover="this.style.color='gray';"
					onmouseout="this.style.color='black';"> <i
						class="fas fa-shopping-cart"></i>Cart
				</a></li>
				<li class="nav-item" style="margin-right: 10px;"><a
					class="nav-link" href="#" th:href="@{/}"
					style="color: black; hover: gray;"
					onmouseover="this.style.color='gray';"
					onmouseout="this.style.color='black';"> <i
						class="fas fa-sign-out-alt"></i>Logout
				</a></li>
			</ul>
			<!--   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
		</div>
	</nav>


	<div class="container" style="padding-top: 70px;">
		<div class="row">
			<div class="col">
				<div class="card-group">

					<tr th:each="myorder, iStat : ${MyOrders}">

						<div class="cards-container"
							style="width: 30%; margin-left: 20px; margin-bottom: 20px; padding-top: 20px;">
							<div class="card"
								style="background-color: #fff; display: inline-block; width: 300px; height: 550px; border-radius: 0px;">
								<div class="card-header">
									<span style="font-weight: 500;">Order Id:</span>
									<td th:text="'#'+${myorder.orderId}" />
								</div>
								<div class="card-body" style="padding-top: 0px;">
									<h5 class="card-title">Vendor Details:</h5>
									<div class="place-review">
										<p class="place-name"
											style="font-weight: 450; padding-bottom: 0px; padding-top: 0px; font-size: 16px; color: rgba(0, 0, 0, 0.87);">
											<td th:text="${myorder.vendorName}">Larry</td> <br>

											<td><div class="card-media"
													th:style="'background-image: url(' + ${myorder.vendorImgUrl} + '); background-position: center; background-size: cover; height: 100px; width: 50%; object-fit: fit; border-radius: 0px 0px 0 0; position: right;'"></td>
										</p>
									</div>
									<h5 class="card-title" style="padding-top: 0px;">Order
										Details:</h5>
									<div class="place-review" style="padding-top: 0px;">
										<p class="rating"
											style="font-size: 14px; border-radius: 4px; font-weight: 700; margin-bottom: 6px; margin-left: 0px;">
											<td th:text="${myorder.foodItems}"></td>
										</p>
										<img
											src="https://www.kindpng.com/picc/m/276-2760684_yellow-location-icon-png-transparent-png.png"
											style="height: 20px; width: 20px" />
										<td th:text="${myorder.orderDeliveryAddress}">Larry</td>
										<p class="per-person" style="font-size: 14px; color: black;">
											Order Date and Time: <br>
											<td th:text="${myorder.orderDateAndTime}">Larry</td>
										</p>
										<p class="place-name"
											style="font-weight: 600; padding-bottom: 10px; color: rgba(0, 0, 0, 0.87);">
											<span>Total Amount: INR </span>
											<td th:text="${myorder.totalPrice}">Larry</td>
										</p>
										<td><a
											th:href="@{/cancelOrder/{customerid}/{orderid}  (orderid =${myorder.orderId},customerid =${customerid})}"
											class="btn btn-danger">Cancel</a></td>
									</div>
								</div>
							</div>
							</div>
							
						</div>
				</div>
			</div>
		</div>




		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
</body>
</html>