<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<!--  
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login/vendorlogin}" href="#">Vendor-Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>-->
<section class="hero__section" style="background: url(https://imgtr.ee/images/2023/04/17/yjbCm.png) no-repeat; background-size:cover; min-height: 100%;min-width: 1024px;width: 100%;height: auto;position:fixed;top: 0;left: 0;">
       </section>
<nav class="navbar navbar-expand-lg navbar-light" style="position:fixed; top:0; width:100%; z-index:1;background-color:white;">
  <img src="https://imgtr.ee/images/2023/04/16/y4JTV.png" alt="logo Image" style="width:100px;  height:50px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="font-size:18px;">
      <li class="nav-item" style="margin-right:10px;">
        <a class="nav-link" href="#" th:href="@{/}" style="color:black; hover:gray;"onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">
        <i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a class="nav-link" href="#" th:href="@{/vendor/{vendorid}/orderRequest    (vendorid=${vendorId})}"style="color:black; hover:gray;"onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">
        <i class="fas fa-clock"></i>Pending Orders</a>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a class="nav-link" href="#" th:href="@{/vendor/{vendorid}/orderHistory   (vendorid=${vendorId})}"style="color:black; hover:gray;"onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">
        <i class="fas fa-check" ></i>Completed Orders</a>
      </li>
      <li class="nav-item" style="margin-right:10px;">
        <a class="nav-link" href="#" th:href="@{/vendor/{vendorid}/addNewFoodItems (vendorid=${vendorId})}"style="color:black; hover:gray;"onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">
        <i class="fas fa-plus-circle" ></i>Add Food Item</a>
      </li>      
       <li class="nav-item" style="margin-right:10px;">
        <a class="nav-link" href="#" th:href="@{/}"style="color:black; hover:gray;"onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">
        <i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container" style="padding-top:100px;justify-content:center;">
    <div class="row">
    
        <div class="col-sm-4 mx-auto" style="justify-content:center;">
        <div class="divider d-flex align-items-center my-2" style="justify-content:center;">
                <div  style = "color:white;  font-weight: 400; font-size:36px;">Add food Item Details</div>
      </div>
            <form th:action="@{/vendor/{vendorid}/addNewFoodItems  (vendorid=${vendorId}) }" method="post" th:object="${fooditem}">
                <input type="hidden" name="id"  th:field="*{id}">
                
                
                <div class="form-group" style="color:white; "> 
                    <!-- <label for="vendorId">Vendor</label>
                    <input type="text" class="form-control" required th:field="*{vendorId}" th:value="${vendorId}" name="vendorId" id="vendorId"  placeholder=""> -->
                   
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"  placeholder="Enter food name">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" required th:field="*{description}" name="desc" id="desc"  placeholder="Enter food description">
                    <label for="price">Unit Price</label>
                    <input type="text" class="form-control" required th:field="*{unitPrice}" name="price" id="price"  placeholder="Enter Unit Price">
                    <label for="imageUrl">Food Image</label>
                    <input type="text" class="form-control" required th:field="*{imageUrl}" name="imageUrl" id="imageUrl"  placeholder="Enter Food Image Url">
                   
                
                </div>

               <div style="text-align: center;">
  <button type="submit" class="btn btn-secondary">Submit</button>
</div>
            </form>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>